html
  head
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title
    style(type='text/css').
      @font-face {
      font-family: 'KhmerOS';
      src: url('assets/fonts/KhmerOS.eot');
      src: url('assets/fonts/KhmerOS.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/KhmerOS.woff2') format('woff2'),
      url('assets/fonts/KhmerOS.woff') format('woff'),
      url('assets/fonts/KhmerOS.ttf') format('truetype'),
      url('assets/fonts/KhmerOS.svg#@{icon-font-svg-id}') format('svg');
      }
      * {
      margin: 0;
      padding: 0;
      line-height: 21px;
      font-size: 14px;
      }
      .container {
      width: 1005px;
      margin: 0 auto;
      }
      .vat-invoice {
      font-weight: bold;
      padding-left: 3px;
      font-size: 16px;
      }
      #header {
      margin-bottom: 30px;
      }
      #address {
      border-bottom: 1px inset #949292;
      margin-bottom: 15px;
      padding-bottom: 15px;
      }
      .table {
      width: 1005px;
      }
      table, th, td {
      vertical-align: top
      }
      td:nth-child(3n) {
      width: 305px;
      }
      td:nth-child(4n) {
      text-align: right;
      margin-right: 5px;
      }
      td:last-child {
      padding-left: 15px;
      width: 183px;
      }
      .table-goods td:last-child{
      text-align: right;
      }
      .table-goods {
      border-spacing: 0;
      border-collapse: collapse;
      }
      .table-goods tr:nth-child(2) td {
      border: 0;
      padding-bottom: 15px;
      border-bottom: 1px inset #949292;
      }
      .table-goods tr:nth-child(3) td {
      padding-top: 15px;
      }
      .sub-total,
      .grand-total {
      border-top: 1px inset #949292;
      border-bottom: 1px inset #949292;
      }
      .sub-total td,
      .grand-total td {
      padding: 15px 0;
      text-align: right;
      }
      .total td {
      padding-top: 15px;
      }
      .vat td {
      padding-bottom: 15px;
      }
      .summary {
      text-align: right;
      }
      .summary td:nth-child(3) {
      width: 175px;
      }
      .footer {
      margin-top: 30px;
      margin-bottom: 45px;
      }
      .payment-options {
      float: left;
      }
      .payment-options ul {
      list-style: none;
      }
      .signature {
      float: right;
      }
      .account-info {
      margin-top: 15px;
      }
      .sign-place {
      margin-top: 90px;
      border-bottom: 1px dotted #808080;
      }
      .clear {
      clear: both;
      }
      .kh-pay { width: 225px; }
      .en-pay {
      width: 225px;
      margin-top: 5px;
      }
  body
    .container
      section#header
        p.vat-invoice
          | វិក្កយប័ត្រអាករ
        p VAT INVOICE
        p លេខអត្តសញាណកម្ម អតប/VAT TIN: 100046029
      section#address
        table.table
          tr
            td ឈ្មោះអតិថិជន:
            td  
            td  
            td ទំព័រ/Page No.:
            td 1
          tr
            td Bill To:
            td Sok Heng (Gin Seng Wine)
            td  
            td លេខរៀងវិក្កយប័ត្រ/Invoice No.:
            td MI-A080804
          tr
            td អាស័យដ្ឋាន:
            td
            td  
            td កាលបរិច្ឆេទ/Invoice Dt.:
            td MI-A080804
          tr
            td
            td
            td  
            td លេខរៀងការបញ្ជាទិញ/S.O.No.:
            td MI-A080804
          tr
            td Address:
            td
              | 452 Hightway No. 5Km6 Russey Keo 
              br
            td  
            td កិច្ចសន្យាលេខ/Contract No.:
            td MI-A080804
          tr
            td
            td Phnom Penh, Cambodia
            td  
            td កាលបរិច្ឆេទនៃកិច្ចសន្យា/Contract Dt.:
            td MI-A080804
          tr
            td Bill To:
            td Sok Heng (Gin Seng Wine)
            td  
            td លេខរៀងវិក្កយប័ត្រ/Invoice No.:
            td MI-A080804
          tr
            td C.Code:
            td CG00000002
            td  
            td រយះពេលទូទាត់:
            td ៧ថ្ងៃបន្ទាប់ពីទទួលបានវិក្កយប័ត្រ
          tr
            td VAT:
            td
            td  
            td Terms:
            td 7 days after the date of receiving invoice
          tr
            td Contact:
            td Gin Seng Wine
            td  
            td
            td
      section.goods-list
        table.table.table-goods
          tr
            td លេខរៀង
            td កូតទំនិញ/សេវា
            td បរិយាយមុខទំនិញ/សេវា
            td បរិមាណ
            td ចំនួនទឺកប្រាក់
          tr
            td Line
            td Item Code
            td Item Description
            td No.of Spot
            td US$ Amount
          tr
            td
            td -
            td Ganzberg Beer Ads 02 16
            td
            td
          tr
            td 002
            td 110A4511
            td SP Package-455 1100-1200
            td 13
            td 919.19
          tr
            td 003
            td 110A2511
            td SP Package-255 1100-1200
            td 23
            td 1,626.26
          tr
            td 004
            td 110A4512
            td SP Package-45$ 1200-1300
            td 8
            td 754.21
          tr
            td 005
            td 110A2512
            td SP Package-25$ 1200-1300
            td 19
            td 1,791.25
          tr
            td 006
            td 110A2512
            td SP Package-25$ 1200-1300
            td 17
            td 1,664.34
          tr
            td 006
            td 110A2512
            td SP Package-25$ 1200-1300
            td 17
            td 1,664.34
          tr
            td 006
            td 110A2512
            td SP Package-25$ 1200-1300
            td 17
            td 1,664.34
          tr
            td 006
            td 110A2512
            td SP Package-25$ 1200-1300
            td 17
            td 1,664.34
          tr
            td 006
            td 110A2512
            td SP Package-25$ 1200-1300
            td 17
            td 1,664.34
          tr
            td(colspan='5')  
          tr
            td(colspan='5')  
          tr.summary.sub-total
            td(colspan='2')  
            td សរុបទំព័រទី១
            td Sub Total Page No. 1:
            td 15,317.59
          tr.summary.total
            td(colspan='2')  
            td សរុប
            td Total :
            td 50,427.29
          tr.summary.vat
            td(colspan='2')  
            td អាករលើតម្លៃបន្ថែម ១០%
            td VAT 10% :
            td 50,42.29
          tr.summary.grand-total
            td(colspan='2')  
            td សរុបរួម
            td GRAND TOTAL:
            td 57,47.29
      section.footer
        .payment-options
          p.kh-pay ការទូទាត់អាចធ្វើឡើងតាមមូលឡបទានប័ត្រ ឬ តាមរយៈការទូទាត់នៅធនាគារ
          p.en-pay Payment can be made by Cheque or Bank Tansfer payable to :
          ul.account-info
            li Account Name: Cambodian Broadcasting Service
            li Account No : USD 29723
            li Bank Name : ANZ Royal Bank (Cambodia) Ltd
            li SWIFT Code: ANZBKHPP
        .signature
          p ហត្ថលេខា
          p Authorized Signature
          p.sign-place
        .clear
