<form name="customerForm">
  <p>English</p>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Name</label>
    <input ng-model="vm.customer.en_name">
  </md-input-container>
  <md-input-container class="md-block">
    <input ng-model="vm.customer.en_address1" placeholder="Address 1">
  </md-input-container>
  <md-input-container class="md-block">
    <input ng-model="vm.customer.en_address2" placeholder="Address 2">
  </md-input-container>

  <p>Khmer</p>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Name</label>
    <input ng-model="vm.customer.kh_name">
  </md-input-container>
  <md-input-container class="md-block">
    <input ng-model="vm.customer.kh_address1" placeholder="Address 1">
  </md-input-container>
  <md-input-container class="md-block">
    <input ng-model="vm.customer.kh_address2" placeholder="Address 2">
  </md-input-container>
</form>