<h1>Customers</h1>

<md-card ng-repeat="customer in vm.customers">
  <md-card-header>
    <md-card-header-text>
      <span class="md-title"><a ui-sref="customers.show({ id: customer.id })">{{ customer.en_name }}</a></span>
      <span class="md-subhead">{{ customer.en_address1 }}</span>
      <span class="md-subhead">{{ customer.en_address2 }}</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ customer.kh_name }}</span>
      <span class="md-subhead">{{ customer.kh_address1 }}</span>
      <span>{{ customer.kh_address2 }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-raised md-primary" ui-sref="customers.edit({ id: customer.id})">Edit</md-button>
    <md-button class="md-raised md-warn" ng-click="vm.destroy(customer)">Delete</md-button>
  </md-card-actions>
</md-card>

<md-button id="btn-add-customer" class="md-fab md-fab-bottom-right" ui-sref='customers.new'>
  <md-icon md-svg-src="app/assets/svg/ic_add_white_24px.svg"></md-icon>
  <md-tooltip>Add new</md>
</md>