<h1>Converter</h1>

<form name="converterForm" ng-submit="vm.submit(converterForm.$valid)" novalidate="true">
  <div layout="column">
    <div class="convert-error" ng-show="vm.convertErrors">
      Missing the below customers:
      <ul class="convert-error">
        <li ng-repeat="error in vm.convertErrors">{{error}}</li>
      </ul>
    </div>
    <div layout="row" layout-align="start center">
      <div flex=40>PRN File</div>
      <div flex=60>
        <md-button class="md-raised" ng-click="vm.chooseSourceFile()">Browse</md-button>
      </div>
    </div>
    <div class="md-caption text-muted">{{ vm.sourceFile }}</div>

    <div class="margin-top-20" layout="row" layout-align="start center">
      <div flex=40>Destination folder</div>
      <div flex=60>
        <md-button class="md-raised" ng-click="vm.chooseDestinationDirectory()">Choose</md-button>
      </div>
    </div>
    <div class="md-caption text-muted">{{ vm.destinationDirectory }}</div>

    <div ng-show="vm.excelFile" class="margin-top-20">
      <div layout="row" layout-align="start center">
        <div flex=40>Excel file</div>
        <div flex=60>
          <md-button class="md-primary md-raised" ng-click="vm.openExcel()">Open</md-button>
        </div>
      </div>

      <p class="text-muted">You need to create a page break at each start of the invoice manually before printing.</p>
      <p class="text-muted">For more information, please visit <a target="_blank" href="https://support.office.com/en-us/article/Create-manual-page-breaks-in-a-worksheet-3765600c-8d42-4b47-96a2-83a08258c400#__toc305579616">this</a>.</p>
    </div>
    <div class="md-caption text-muted">{{ vm.excelFile }}</div>
  </div>

  <div class="form-btn-actions margin-top-20" layout="row" layout-align="start center">
    <md-button class="md-primary md-raised" type="submit" ng-disabled="vm.isDisabled">
      Convert
    </md-button>
  </div>
</form>