<h1>Converter</h1>

<form name="converterForm" ng-submit="vm.submit(converterForm.$valid)" novalidate="true">
  <div layout="column">
    <div class="convert-error" ng-show="vm.convertErrors.length > 0">
      Missing the below customers:
      <ul class="convert-error">
        <li ng-repeat="error in vm.convertErrors">{{error}}</li>
      </ul>
    </div>
    <div layout="row" layout-align="start center">
      <div flex=40>PRN File</div>
      <div flex=60>
        <md-button class="md-raised" ng-click="vm.chooseSourceFile()">Browse</md-button>
      </div>
    </div>
    <div class="md-caption text-muted">{{ vm.sourceFile }}</div>

    <div class="margin-top-20" layout="row" layout-align="start center">
      <div flex=40>Destination folder</div>
      <div flex=60>
        <md-button class="md-raised" ng-click="vm.chooseDestinationDirectory()">Choose</md-button>
      </div>
    </div>
    <div class="md-caption text-muted">{{ vm.destinationDirectory }}</div>

    <div ng-show="vm.excelFile" class="margin-top-20">
      <div layout="row" layout-align="start center">
        <div flex=40>Excel file</div>
        <div flex=60>
          <md-button class="md-primary md-raised" ng-click="vm.openExcel()">Open</md-button>
        </div>
      </div>
      <div class="md-caption text-muted">{{ vm.excelFile }}</div>

      <h4>Print Instructions</h4>
      <ul class="print-instruction">
        <ol><strong>1. </strong>Open that excel file.</ol>
        <ol><strong>2. </strong>Right click on one of the sheet tabs, and select the "Select All Sheets" from the menu.</ol>
        <ol><strong>3. </strong>Click Page Layout menu, then select "1 page" for both width and height.</ol>
        <ol><strong>4. </strong>File menu -> Print. Select "Entire Workbook" on "Print:" section.</ol>
      </ul>
    </div>
  </div>

  <div class="form-btn-actions margin-top-20" layout="row" layout-align="start center">
    <md-button class="md-primary md-raised" type="submit" ng-disabled="vm.isDisabled">
      Convert
    </md-button>
  </div>
</form>